/*
Dark Mode Styles
Custom stylesheet for gobal classes and libary overwrites
only library css should be added to this.  App specific css shouldnt be written in a scene stylesheet and imported into that scene.
*/
@import './variables';

/*Global Custom Styles*/
html{
  .dark-mode{
    background-color: $dm-color-1;
    h1, h2, h3, h4, h5, h6, p, a{
      color: $dm-white;
    }
    hr{
      border-top: 1px solid rgba(255, 255, 255, .1);
    }
  }
}


//Overwrite Global Bootstrap Classes
.dark-mode{
  .btn-primary{
    background-color: $dm-color-3;
    border-color: $dm-color-3;
    color: $dm-color-1;
    font-weight: bold;
    &:hover{
      background-color: darken($dm-color-3, 10%)!important;
      border-color: darken($dm-color-3, 10%)!important;
    }
    &:active{
      background-color: $dm-color-3!important;
      border-color: $dm-color-3!important;
    }
    &:focus{
      background-color: $dm-color-3!important;
      border-color: $dm-color-3!important;
    }
  }
  .badge-primary{
    background-color: $dm-color-3;
  }
  .text-primary{
    color: rgba($dm-color-3, 1)!important;
  }
}