@import '../variables';

.navigation{
  height: 100%!important;
  padding: 0px!important;
  .navbar-nav{
    height: 100%;
    display: d-flex;
    align-items: center;
    
    .nav-link{
      height: 100%;
      display: flex;
      //border: 1px solid red;
      border-bottom: 3px solid rgba(0,0,0,0);
      font-weight: $font-weight-bold + 100;
      margin: 0px 5px 0px 5px;
      font-size: $font-size-base + .1;
      
      
    }
    .nav-search-icon{
      height: 100%;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.5);
      &:hover{
        color: #00000099!important;
      }
    }
    .nav-item{
      &:hover{
        //border-color: #00000099;
        color: #00000099!important;
      }
      &[aria-current="page"]{
        border-color: #A80532;
        color: #A80532!important;
      }
      .dropdown-toggle{
        display: flex;
        align-items: center;
        &::after{
          margin-left: .4rem;
        }
      }
    }
    .nav-active-state{
      border-color: #A80532;
      color: #A80532!important;
    }
    .dropdown-menu{
      //left: -200px;
      box-shadow: $shadow-4;
      min-width: 12rem;
      ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        .dropdown-item{
          padding: 0px;
          a{
            font-size: $font-size-base;

            text-decoration: none;
            color: inherit;
            font-weight: 500;
            &:hover{
              opacity: .7;
            }
          }
          &:hover{
            background-color: white;
          }
          &:active{
            color: black;
          }
        }
      }
    }
    .nav-search-box{
      .input-group-prepend{
        i{
          color: rgba(0, 0, 0, 0.5);
        }
        .input-group-text{
          border-radius: 25px 0px 0px 25px;
          background-color: white;
         
        }
      }
      .form-control{
        border-left: none;
        border-radius: 0px 25px 25px 0px;
        &:focus{
          outline: none !important;
          box-shadow: none;
          border-color: #ced4da;
        }
        &:active{
          outline: none !important;
          box-shadow: none;
          border-color: #ced4da;
        }

      }
      a{
        color: black;
      }
    }
  }
}