@import '../../styles/variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.dark-mode{
  .navigation{
  
    .navbar-nav{
    
      .nav-link{
        border-bottom: 3px solid $transparent;
       
        color: white!important;
        opacity: $dm-font-opacity;
        &:hover{
          opacity: $dm-font-opacity-hover;
        }
        &[aria-current="page"]{
          border-color: $dm-color-3;
          color: $dm-color-3!important;
          opacity: 1;
        }
        
      }
      .nav-search-icon{
        color: white;
        
        i{
          &:hover{
            opacity: $dm-font-opacity-hover;
          }
        }
        
      }
     
      .nav-active-state{
        border-color: $dm-color-3;
        color: $dm-color-3!important;
      }
      .dropdown-menu{
        background-color: $dm-color-1;
        ul{
         
          .dropdown-item{
          
            
            &:hover{
              background-color: $dm-color-1;
            }
            &:active{
              color: white;
            }
            a{
              color: white;
              opacity: $dm-font-opacity;
              &:hover{
                opacity: $dm-font-opacity-hover;
              }
            }
          }
        }
      }
      .nav-search-box{
        .input-group-prepend{
          i{
            opacity: $dm-font-opacity;
            color: white;
          }
          .input-group-text{
            border-color: $dm-input-border-color;
            background-color: $dm-color-1;
           
          }
        }
        .form-control{
          background-color: $dm-color-1;
          color: rgba(255,255,255, $dm-font-opacity);
          border-color: $dm-input-border-color;
          &:focus{
           
            border-color: $dm-input-border-color;
          }
          &:active{
         
            border-color: $dm-input-border-color;
          }
          &::placeholder{
            color: white;
            opacity: $dm-font-opacity - .4;
          }
  
        }
        a{
          color: $black;
        }
      }
    }
  }
  .navigation-mobile{
    background-color: $dm-color-2;
    
    .navbar-nav{
      .navigation-mobile-header{
        h1{
          color: white;
          opacity: $dm-font-opacity;
        }
        i{
          color: white;
          opacity: $dm-font-opacity;
        }
      }
      .nav-search-box{
        .input-group-prepend{
          
          i{
            color: white;
            opacity: $dm-font-opacity;
          }
          .input-group-text{
            background-color: $dm-color-1;
            border: $dm-color-1;
          }
        }
        .form-control{
          background-color: $dm-color-1;
          border-color: $dm-color-1;
          &:focus{
            border-color: $dm-color-1;
          }
          &:active{
            border-color: $dm-color-1;
          }
          color: rgba(255, 255, 255, $dm-font-opacity);
        }
      }
      
      .navigation-mobile-list-container{
         
        
         
        
        .nav-item{
          
        }
        .dropdown-mobile{
        
          ul{
            border-top: 1px solid rgba(255,255,255, $dm-font-opacity );
          }
          .nav-item{
            opacity: 1;
            .nav-link{
            }
            
            .dropdown-item{
              a{
              }
              &:hover{
                background-color:$dm-color-2;
              }
            }
          }
    
        }
      }
    }
  }
}
