/*
   dark mode for home page
*/
@import '../styles//variables';

.dark-mode{
  .homepage-floating-card{
    
    .card{
      background-color: $dm-color-1;
      i{
        color: $dm-color-3;
      }
      p{
        color: white;
        opacity: $dm-font-opacity;
      }
      
    }
  }
  .homepage-content-row{
  
    i{
      color: $dm-color-3;
    }
  }
  .homepage-caret-down{
    i{
      color: white;
      opacity: $dm-font-opacity;
    }
  }
  .homepage-form-container{
    background-color: $dm-color-3;
    .btn-primary{
      background-color: $dm-color-1;
      border-color: $dm-color-1;
      &:hover{
        background-color: darken($dm-color-1, 10%)!important;
        border-color: darken($dm-color-1, 10%)!important;
      }
      &:active{
        background-color: $dm-color-1!important;
        border-color: $dm-color-1!important;
      }
      &:focus{
        background-color: $dm-color-1!important;
        border-color: $dm-color-1!important;
      }
    }
  }

  
}

