/*
   dark mode for home page
*/
@import '../styles/variables';

.dark-mode{
  #home-page{
    .homepage-floating-card{
    
      .card{
        background-color: $dm-color-1;
        i{
          color: $dm-color-3;
        }
        p{
          color: white;
          opacity: $dm-font-opacity;
        }
        
      }
    }
    .page-content-row{
      i{
        color: $dm-white;
      }
    }
  }
  
}

