.search-form{
  .input-group-prepend{
    i{
      color: rgba(0, 0, 0, 0.5);
    }
    .input-group-text{
      border-radius: 25px 0px 0px 25px;
      background-color: white;
     
    }
  }
  .form-control{
    padding: 1.25rem 0 1.25rem 0;
    border-left: none;
    border-radius: 0px 25px 25px 0px;
    &:focus{
      outline: none !important;
      box-shadow: none;
      border-color: #ced4da;
    }
    &:active{
      outline: none !important;
      box-shadow: none;
      border-color: #ced4da;
    }

  }
  a{
    color: black;
  }
}