@import '../variables';

header{
  
  background-color: white;
  height: 100px;
  box-shadow: $shadow-2;
  .header-logo{
    width: 250px;
    height: auto;
    img{
      margin-top: 10px;
    }
  }
}