@import '../../styles/variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.dark-mode{
  .mast-head{
    .header-top{
      background-color: $dm-color-1;
    }
    header{
      background-color:$dm-color-2;    
      .header-logo{
        opacity: $dm-font-opacity;
      }
      .header-nav{
        i{
          color: $dm-white!important;
          &:hover{
            color: $dm-white-hover!important;
          }
        }
      }
    }
  }
}