@import '../../styles/variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.mast-head{
  .header-top{
    background-color: $dark-1;
    p{
      color: $dm-white;
    }
    a{
      color: $dm-white;
      &:hover{
        color: $dm-white-hover;
      }
    }
    .dark-mode-toggle{
      .custom-control{
        cursor: pointer!important;
      }
      .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $dm-color-3!important;
        border-color: $dm-color-3!important;
      }
      i{
        position: absolute;
        font-size: $font-size-base - .5rem;
        color: $dm-white;
      }
      .fa-moon{
        margin-top: .5rem;
        margin-left: .2rem;
      }
      .fa-sun{
        margin-top: .5rem;
        margin-left: 1rem;
        color: $dark-2;
        opacity: .5
      }
    }
  }
  
  header{
    background-color: white;
    height: 100%;
    .header-logo{
      width: 250px;
      //height: auto;
      svg{
        margin-top: 25px;
      }
    }
    
      .header-nav{
        @include media-breakpoint-down(md) {
          font-size: $font-size-base + 1.2rem;
          p{
            height: 100%;
            i{
              color: $black!important;
              &:hover{
                opacity: $font-opacity-hover;
              }
              cursor: pointer;
            }
          }
        }
      }
  

    
  }
  .sticky-outer-wrapper{
    
    .sticky-inner-wrapper{
      height: 100px;
      transition: height .1s;
      z-index: 1000;
      box-shadow: $shadow-2;
      .header-logo{
        transition: width .09s;
      }
    }
  }
  .header-sticky{
    .sticky-inner-wrapper{
      height: 65px;
      .header-logo{
        width: 200px;
          margin-top: -12px;
      }
    }
  }
}
