@import '../../styles/variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.dark-mode{


.mast-head{
  .header-top{
    background-color: $dm-color-1;
    color: white;
    a{
      color: white;
      opacity: $dm-font-opacity;
      
      &:hover{
        color: white;
      }
    }
  }
  
  header{

    background-color:$dm-color-2;    
    .header-logo{
      opacity: $dm-font-opacity;
    }
    .header-nav{
      i{
        color: white;
        opacity: $dm-font-opacity;
      }
    }
  }
}
}