/*
Library Varibles
*/

//Custom Theme Variables

/***colors****/
// $blue: #44ADE5;
// $green: #5CB85C;
// $yellow: #EFC053;
// $red: #D9534F;
// $blue: #4C6B89;
// $blue-dark: #203040;
// $orange: #F17743;
// $purple: #6F3D84;
// $black: #1B1B1B;
// $black-2: lighten($black, 5%);
// $black-3: lighten($black, 20%);
// $grey: #F4F4F4;
// $light-grey: #7D7D7D;
// $input-border-grey: #ced4da;
// $dark-grey: #707070;
$protrans-red: #990000;
// $grid-grey: #F4F8FB;
// $blue-gradient: linear-gradient(90deg, #15354D 0%, #34495E 100%);
$page-background: #F4F8FB;
// $menu-color: #1B1B1B;
// $submenu-color: #262626;
// $inactive-blue: #94C1EA;
// $inactive-green: #B7E0B7;
// $tile-grey: #30383A;
// $tile-grey-transparent: #30383AD9;
// $tile-grey-inactive: #30383A99;
// $gradient: linear-gradient(90deg, #15354D 0%, #34495E 100%);


//material design box shadows
$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


//Fonts and Text
$font-weight-light:  200;
$font-weight-bold:   500;
$font-size-base:     1rem;

$h1-font-size:  $font-size-base * 3;
$h2-font-size:  $font-size-base * 2;
$h3-font-size:  $font-size-base * 1.70;
$h4-font-size:  $font-size-base * 1.35;
$h5-font-size:  $font-size-base * 1.25;
$h6-font-size:  $font-size-base;