@import '../../styles/variables';

  $menu-width: 225px;

  .logistics-news-menu{
    border-left: 1px solid rgba(0,0,0,.125);

    width: $menu-width;
    min-width: $menu-width;
    .list-group-item{
      //padding: 0px;
      border: none;
      a{
        text-decoration: none;
        color:inherit;
        &:hover{
          opacity: .7;
        }
      }
    }
  }
 .category-menu-mobile-button{
   position: fixed;
   background-color: #2E2D2D;
   opacity: .7;
   color: white;
   font-size: 2rem;
   border-radius: .5rem 0rem 0rem .5rem ;
   right: 0;
   top: 30vh;
   z-index: 100;
 }
  .logistics-news-menu-active{
    
    color: $protrans-red;
  }

  
 