@import '../../components//variables';

  $menu-width: 225px;

  .logistics-news-menu{
    border-left: 1px solid rgba(0,0,0,.125);

    width: $menu-width;
    min-width: $menu-width;
    .list-group-item{
      
      border: none;
      a{
        text-decoration: none;
        color:inherit;
        &:hover{
          opacity: .7;
        }
      }
    }
  }
  .logistics-news-menu-active{
    color: $protrans-red;
  }
