/*
  dark mode for logistics news page
*/
@import '../../styles/variables';

.dark-mode{

  .logistics-news-menu{
    border-left: 1px solid rgba(255, 255, 255, .125);
    .list-group-item{
      a{
        text-decoration: none;
        &:hover{
          opacity: $dm-font-opacity-hover;
          color: $dm-color-3;
        }
      }
    }
  }
 .category-menu-mobile-button{
   background-color: $dm-color-2;
   color: white;
 }
  .logistics-news-menu-active{
    
    a{
      color: $dm-color-3;
      font-weight: bold;
      opacity: $dm-font-opacity-hover;
      &:hover{
        color: $dm-color-3;
      }
    }
  }
}
 

  
 