@import '../../styles/variables';


footer{
  background-color: $dark-1;
  p{
    color: white;
    opacity: $font-opacity;
    a{
      color: white;
      opacity: $font-opacity;
    }
  }
  .footer-content{
    min-height: 200px;
    .footer-apps-logins{
      ul{
        list-style: none;
        padding-left: 0px;
        li{
          a{
            color: white;
            opacity: $font-opacity;
            &:hover{
              text-decoration: none;
              opacity: $font-opacity-hover;
            }
          }
        }
      }
    }
    .footer-contact-us{
      @extend .footer-apps-logins;
    }
    .footer-social-media{
      a{
        color: white;
        opacity: $font-opacity;
        font-size: 1.5rem;
      }
    }
  }
  .footer-copyright{
    color: white;
    opacity: $font-opacity;
    font-size: $font-size-base - .2rem;
    background-color: $dark-2;
    a{
      &:hover{
        color: white;
        opacity: $font-opacity;
        text-decoration: none;
      }
    }
  }
}