@import '../../styles/variables';


footer{
  // position: absolute;
  //   left: 0;
  //   bottom: 0;
  background-color: $dark-1;
  // height: 283px;
  width: 100%;
  // overflow: hidden;
  p{
    color: $dm-white!important;
  }
  a{
    color: $dm-white!important;
    &:hover{
      color: $dm-white-hover!important;
    }
  }
  .footer-content{
    min-height: 200px;
    .footer-apps-logins{
      ul{
        list-style: none;
        padding-left: 0px;
      }
    }
    .footer-contact-us{
      @extend .footer-apps-logins;
    }
    .footer-social-media{
      i{
        font-size: 1.5rem;
      }
        
      }
    }
  }
  .footer-copyright{
    font-size: $font-size-base - .2rem;
    background-color: $dark-2;
    color: $dm-white;
  }
