@import '../../styles/variables';
.line-nav{
  position: absolute;
  margin-top: 20vh;
  left: -15vw;
  border-left: 6px solid lighten($dark-1, 15%);
  
  stroke-linecap: round;
  .list-group-flush{
    ul{//scroll spy wrapper
      padding: 0px;
      .list-group-item{
        background-color: rgba(0,0,0,0);
        border: none;
        cursor: pointer;
        .line-nav-dot{
          height: 20px;
          width: 20px;
          background-color: lighten($dark-1, 15%);
          position: absolute;
          margin-left: -33px;
          margin-top: 3px;
          transition: transform .2s, box-shadow .2s, background-color .2s, color .2s;
          //box-shadow: $shadow-2;
        }
      }
    }
    .line-nav-active{
      .line-nav-dot{
        transform: scale(1.5);
        box-shadow: $shadow-4;
        background-color: $dark-1!important;
        
      }
      small{
        font-weight: bold!important;
        color: $dark-1!important;
      }

    }
    }
    
}