@import '../../styles/variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.page-banner{
  height: 350px;
  background-color: white;
  box-shadow: $shadow-inset;
  overflow: hidden;
  .page-banner-graphic{
    position: absolute;
    opacity: .1;
    svg{
      width: 1150px;
      margin-top: -260px;
      margin-left: -300px;
    }
  }
}