@import '../../styles/variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.dark-mode{
  .post-banner{
    .featured-image{
      .featured-image-container{
        .featured-image-content{
            h1{
              color: white;
              opacity: 1;
            }
            
            p{
              color: white;
              opacity: 1;
            }
        }
      }
    }
  }
}